<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intial page wallet</title>
      
    <style>
        pre {
            max-width: 100%;
            overflow-x: auto; 
            white-space: pre-wrap; 
            line-height: 1.0;
        }
    </style>
</head>
<body>
    
    <h1>WALLET Test</h1>
    <button onclick="wallet()">{{ tit }}</button>
    <button onclick="home_wallet()">{{ home_tit }}</button>

    
    <p style="color: blue;">Batch Credential response:</p>

    <pre>
        {% macro format_json(data, indent=0) %}
            {% for key, value in data.items() %}
                {{ ' ' * indent }}{{ key }}: 
                {% if value is mapping %}
                    {{ '\n' }}{{ format_json(value, indent + 2) }}
                {% elif value is iterable and value is not string %}
                    {% for item in value %}
                        {{ format_json(item, indent + 2) }}
                        {{ '\n' }}
                    {% endfor %}
                {% else %}
                    {{ ' ' * (indent + 2) }}{{ value }}
                {% endif %}
                {{ '\n' }}
            {% endfor %}
        {% endmacro %}

        {{ format_json(creden) }}
    </pre>

    <script>
        function wallet() {
            window.location.href = '{{ opt }}';
        }
        function home_wallet() {
            window.location.href = '{{ home_opt }}';
        }
    </script>

</body>
</html>
