<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pushed Authorization response</title>
</head>
<body>
    
    <h1>WALLET Test V 0.5</h1>
    <button onclick="getAuthorization()">3. Authorization request Payload</button>
    
    <p style="color: blue;">{{ tit }}</p>
    <pre>
        {% macro format_json(pushedAuthorization, indent=0) %}
        {% for key, value in pushedAuthorization.items() %}
        {{ ' ' * indent }}{{ key }}: 
            {% if value is mapping %}
                {{ format_json(value, indent + 2) }}
            {% else %}
                {{ value }}
        {% endif %}
        {% endfor %}
        {% endmacro %}

        {{ format_json(pushedAuthorization) }}
    </pre>

    <script>
        function getAuthorization() {
            window.location.href = 'authorization_na_payload';
        }
    </script>

</body>
</html>
