<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization request</title>
</head>
<body>
    
    <h1>WALLET Test</h1>
    <button onclick="getAuthorization()">3. Authorization request</button>
    
    <h1>3. Authorization request:</h1>
    <p>{{ url }}</p>

    <script>
        function getAuthorization() {
            window.location.href = 'authorization_na';
        }
    </script>

</body>
</html>
